<body>
	<section id="portfolio">
		<div class="container">
			<h2 class="heading"><%= @genre.genre_name %>一覧</h2>

			<div class="production-group clearfix">
				<% @cds.each do |cd| %>
				<div class="production-content">
					<%= link_to(cd) do %>
          				<%= attachment_image_tag(cd, :image, class:'production' ) %>
        			<% end %>
					<p class="cd-content"><%= link_to cd.jacket_name, cd_path(cd.id) %></p>
					<p class="cd-content"><%= cd.artist_name %></p>
				</div>
				<% end %>
			</div>
		</div>
	</section>
</body>