
<div class = "cd-show clearfix">
	<div class = "cd-show-header"><h2><%=  @cd.artist_name %></h2></div>
	<div class="main-contents clearfix">
  <dl>
    <dd><%= attachment_image_tag @cd, :image, :fill, 60, 60, format: 'jpg',fallback: "no_image.jpg", class: "index-image" %></dd>

    <dt>ジャケット：<%= @cd.jacket_name %></dt>
    <dd>発売日：<%=  @cd.release_date %></dd>
    <dd>価格：<%=  @cd.price %>円</dd>
    <% if admin_signed_in? %>
    <dd><%=link_to 'Edit', edit_admin_cd_path(@cd.id), class: "btn-sm btn-success"%>    <%=link_to 'Destroy',admin_cd_path(current_admin.id), method: :delete, class: "btn-sm btn-danger"%></dd>
    <% end %>
    </dl>
    </div>

    <p>Disk<%= @cd.disk %></p>
    <ul>
    <% @songs.each do |song| %>
		<li><%= song.order %>.<%= song.song_name %></li>
    <% end %>
    </ul>
</div>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if user_signed_in? %>
<%= form_for [@cd, @cart_item], url:carts_path do |f| %>
	<%= f.hidden_field :cd_id, :value => @cd.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "カートに入れる" %>
<% end %>
<% end %>
<%=link_to 'Topに戻る', root_path %>