<html>
<head>
  <title>Team Develop</title>
</head>
<body>
	<!-- header -->

	<!-- main-visual -->
<h2 style="margin-left: 50px;padding-top: 25px;">New Albums!!</h2>
		<!-- <script src="jquery-3.3.1.min.js"></script> -->
      <!-- <script src="app.js"></script> -->
			<script type="text/javascript">
			var loop = setInterval(function() {
    	//li先頭要素のクローンを作成
    	var clone = $(".slide li:first").clone(true);
    	//li先頭要素のマージンレフトにマイナスを指定しアニメーションさせる
    	$(".slide li:first").animate({
    	marginLeft : "-100%"
    	}, {
    	duration : 3500,
    	complete : function() {
    	    //処理完了時に先頭要素を削除
    	    $(".slide li:first").remove();
    	    //クローンをliの最後に追加
    	    clone.clone(true).insertAfter($(".slide li:last"));
    		}
    		});
				}, 0);
				</script>


				<ul class="slide">
				<li><a href="product_edit.html"><img class="release-image" src="/assets/neon_night.jpg" ></a></li>
				<li><img class="release-image" src="/assets/asiangirl.jpg"></li>
				<li><img class="release-image" src="/assets/blackguy.jpg"></li>
				<li><img class="release-image" src="/assets/book_shelf.jpg"></li>
				<li><img class="release-image" src="/assets/boy_screaming.jpg"></li>
				<li><img class="release-image" src="/assets/alice.jpg"></li>
				<li><img class="release-image" src="/assets/headphone.jpg"></li>
				<li><img class="release-image" src="/assets/cutelady.jpg"></li>
				</ul>
				<br clear="all">
	<!-- main -->
	<main>
			<%= link_to 'New CD', new_admin_cd_path(current_admin.id),remote: true, class: "btn btn-lg btn-primary" %>
			<div class="modal fade" id="cd-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
			<div class="production-group clearfix">
				<% @cds.each do |cd| %>
				<div class="production-content">
					<%= link_to(cd) do %>
          				<%= attachment_image_tag(cd, :image, class:'production' ) %>
        			<% end %>
					<p><%= link_to cd.jacket_name, admin_cd_path(current_admin.id, cd.id) %></p>
					<p><%= cd.artist_name %></p>
				</div>
				<% end %>
			</div>

			<!-- <h2 class="product-headline"> 商品一覧 </h2>
			<% @cds.each do |cd| %>
				<div class = "cds-index">
					<dl>
    				<dd><%= attachment_image_tag cd, :image, :fill, 60, 60, format: 'jpg',fallback: "no_image.jpg", class: "index-image" %></dd>
     				 <dt>ジャケット：<%= link_to cd.jacket_name, admin_cd_path(current_admin.id, cd.id) %></dt>
      				<dd>発売日：<%=  cd.release_date %></dd>
      				<dd>アーティスト：<%=  cd.artist_name %></dd>
      				<dd>価格：<%=  cd.price %>円</dd>
 					</dl>
    		</div>
			<% end %> -->
    		
			<div class="paginate">
				<p><<</p>
				<p><</p>
				<p>1</p>
				<p>2</p>
				<p>3</p>
				<p>></p>
				<p>>></p>
			</div>
		

	</main>


	<!-- footer -->

</body>
</html>