
<div class="container">
	<h1>My page</h1>
	<div class="row">
		<div class="col-lg-4">

			<table class="table">
				<tr>
					<td>Name</td>
					<td><%= @user.last_name %><%= @user.first_name %></td>
				</tr>
				<tr>
					<td>カナ</td>
					<td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
				</tr>
				<tr>
					<td>Tell</td>
					<td><%= @user.tell_number %></td>
				</tr>
				</tr>
					<tr>
					<td>Email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><%= @user.address %></td>
				</tr>
					<tr>
					<td>PostCode</td>
					<td><%= @user.post_code %></td>
				</tr>
			</table>
			<% if user_signed_in? %>
			<%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<% elsif admin_signed_in? %>
			<%= link_to "", edit_admin_user_path(current_admin, @user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<% end %>
			
			<br>
			<%= link_to destroy_user_session_path, method: :delete do %>
				 <button type="button" class="btn btn-default btn-block">
				    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				    <span>Logout</span>
				 </button>
			<% end %>

			<%= link_to user_path(current_user), method: :delete do %>
				<button type="button" class="btn btn-danger">退会する
				</button>
			<% end %>
			<br>
			<br>
		</div>

		<div class="col-lg-8">
			<h2>購入履歴</h2>
			<table class="table table-hover">
				<tr>
					<th>Image</th>
					<th>name</th>
					<th>price</th>
				</tr>
				<% @sold_items.each do |sold_item| %>
					<tr>
						<td><%= attachment_image_tag sold_item.cd, :image, :fill, 50, 50, format: 'jpeg' %></td>
						<td><%= sold_item.cd.jacket_name %></td>
						<td><%= sold_item.price %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>



