<body>
	<section id="purchase">
		<h1 class="topic">購入確認画面</h1>
		<div class="left-content">
			<div class="content-item">
				<h2>お届け先</h2>
				<br>
				<p class="info-text"><b>名前:</b> <%= @user.last_name %><%= @user.first_name %></p>
				<p><b>お届け先住所:</b></p>
				<p>〒<%= @user.post_code %></p>
				<p class="info-text"><%= @user.address %></p>
				<p class="info-text"><b>電話番号:</b> <%= @user.tell_number %></p>
				<p><b>メールアドレス:</b> <%= @user.email %></p>
				<div class="btn-left">
					<a href="#" class="square_btn">注文を確定する</a>
				</div>
			</div>
		</div>
		<div class="right-content">
			<div class="content-item">
				<table class="cart">
				<thead>
					<tr>
						<th class="table-item"></th>
						<th class="table-item">商品名</th>
						<th class="table-item">アーティスト名</th>
						<th class="table-item">金額</th>
						<th class="table-item">数量</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
					<tr>
						<td class="table-item"><img src="img/my-icon.jpg" class="cart-image"></td>
						<td class="table-item">商品名</td>
						<td class="table-item">アーティスト名</td>
						<td class="table-item">金額</td>
						<td class="table-item">数量</td>
					</tr>
				</tbody>
				</table>
				<h3 class="sum">合計金額：6000円</h3>
				<div class="btn-group">
					<a href="#" class="square_btn">注文を確定する</a>
				</div>
			</div>
		</div>
	</section>
</body>