<body class="cart-background">
	<section id="cart">
		<h1 class="topic">カートの中身</h1>
		<p><br><br></p>
		<div>
			<table class="cart-item">
				<thead>
					<tr>
						<th class="table-item"></th>
						<th class="table-item">商品名</th>
						<th class="table-item">アーティスト名</th>
						<th class="table-item">金額</th>
						<th class="table-item">数量</th>
					</tr>
				</thead>
				<tbody>
					<% @cart_items.each do |cart_item| %>
						<tr>
							<td class="table-item"><%= attachment_image_tag(cart_item.cd, :image, :fill, 100, 100) %></td>
							<td class="table-item"><%= cart_item.cd.jacket_name %></td>
							<td class="table-item"><%= cart_item.cd.artist_name %></td>
							<td class="table-item"><%= cart_item.price %></td>
							<td class="table-item"><%= cart_item.quantity %></td>
							<td><%= link_to 'Destroy', cart_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn-sm btn-danger'%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<h3 class="sum">合計金額：6000円</h3>
			<div class="btn-group">
				<%= link_to "購入手続きへ", cart_purchase_path(current_cart.id) %>
			</div>
		</div>
	</section>
</body>