<!DOCTYPE html>
<html>
  <head>
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
	<header>
		<h1 class="headline">
			<a href="team_develop.html" class="header-text">管理者画面</a>
		</h1>
		<nav>
			<ul class="nav-list">
				<li class="nav-list-item">
					<a href="sold_index.html" class="nav-text">購入履歴</a>
				</li>
				<li class="nav-list-item">
					<a href="user_index.html" class="nav-text">User一覧</a>
				</li>
			</ul>
		</nav>
	</header>
	<%= yield %>
	<footer>
		<p class="footer-text"> ©︎ All rights recerved by Omomuki.Inc.</p>
	</footer>
	</body>
	</html>