<!DOCTYPE html>
<html>
  <head>
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <header class="clearfix">
    <!-- <i class="fa fa-facebook-square icon"></i> -->
    <!-- <div class="kensaku">。。このWebsiteを検索</div> -->
    <% if user_signed_in? %>
      <div class="box">
        <a href="/carts/:id"><i class="fa fa-shopping-cart cart"></i></a>
        <div class="kon">
          <i class="fa fa-user-circle usericon"></i>
          <p class="name"><%= link_to current_user.last_name, user_path(current_user) %></p>
        </div>
      </div>
      <% elsif admin_signed_in? %>
    <h1 class="headline">
      <%= link_to "管理者画面", admin_root_path(current_admin.id) %>
    </h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="sold_index.html" class="nav-text">購入履歴</a>
        </li>
        <li class="nav-list-item">
          <%= link_to 'User一覧', admin_users_path(current_admin.id), class: "nav-text" %>
        </li>
        <li class="nav-list-item"><%= link_to 'logout', destroy_admin_session_path(current_admin.id), class: "glyphicon glyphicon-log-out nav-text",method: :delete %></li>
      </ul>
      </nav>
    <% else %>
      <div class="login-signup">
        <p class="lo-si"><a href="/users/sign_in">Login</a></p>
        <p class="lo-si"><a href="/users/sign_up">Sign up</a></p>
      </div>
    <% end %>
  </header>
    <div class="genre">
    <div class="genre-box">
      <div class="genre-item">
        <%= link_to(genre_path(1)) do %>
          <span>Jpop</span>
          <span>J-ポップ</span>
        <% end %>
      </div>
    </div>
    <div class="genre-box">
      <div class="genre-item">
        <%= link_to(genre_path(2)) do %>
          <span>Rock</span>
          <span>ロック</span>
        <% end %>
      </div>
    </div>
    <div class="genre-box">
      <div class="genre-item">
        <%= link_to(genre_path(3)) do %>
          <span>Jazz</span>
          <span>ジャズ</span>
        <% end %>
      </div>
    </div>
    <div class="genre-box">
      <div class="genre-item">
        <%= link_to(genre_path(4)) do %>
          <span>Enka</span>
          <span>演歌</span>
        <% end %>
      </div>
    </div>
    <div class="genre-box">
      <div class="genre-item">
        <%= link_to(genre_path(5)) do %>
          <span>Import Music</span>
          <span>洋楽</span>
        <% end %>
      </div>
    </div>
    </div>

  </nav>

  <%= yield %>
  <footer>
    <p class="footer-text"> ©︎ All rights recerved by Omomuki.Inc.</p>
  </footer>
  </body>
  </html>