<!-- <!DOCTYPE html>
<html>
  <head>
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=# yield %>
  </body>
</html> -->



<!DOCTYPE html>
<html>
  <head>
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="clearfix">
    <i class="fa fa-facebook-square icon"></i>
    <div class="kensaku">。。このWebsiteを検索</div>
    <% if user_signed_in? %>
      <div class="box">
        <a href="cart.html"><i class="fa fa-shopping-cart cart"></i></a>
        <div class="kon">
          <i class="fa fa-user-circle usericon"></i>
          <p class="name"><a href="mypage.html">脇坂翔さん</a></p>
        </div>
      </div>
    <% else %>
      <div class="login-signup">
        <p class="lo-si"><a href="header.after.html">Login</a></p>
        <p class="lo-si"><a href="#">Sign up</a></p>
      </div>
    <% end %>
  </header>
  <nav>
    <div class="nav-box">
      <ul class="ul"><a href="genre.html">Jpop</a></ul>
      <ul class="ul"><a href="#">Kpop</a></ul>
      <ul class="ul"><a href="#">Rock</a></ul>
      <ul class="ul"><a href="#">洋楽</a></ul>
      <ul class="ul"><a href="#">演歌</a></ul>
    </div>
  </nav>
  <%= yield %>
  <footer>
    <p class="footer-text"> ©︎ All rights recerved by Omomuki.Inc.</p>
  </footer>
  </body>
  </html>